html,body {
    padding: 0;
    margin: 0;
    background-color: rgb(254, 254, 254)000;
    /* overflow-x: hidden; */
}
.top-header {
    width: auto;
    height: 45PX;
    background-color:#000;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.top-header>div:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.top-header>div>div:first-child>img {
    position:relative;
    top: 5px;
}
.top-header>div>div:first-child {
    margin: 0 40px;
}
.top-header img {
    width: 15px;
    height: 15px;
    float: left;
    display: block;
}
.top-header span {
    color: #757575;
    font-size: 12px;
}
.top-header>div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.top-header>div:nth-child(2)>div>img {
    margin: 0 20px;
    width: 23px;
    height: 23px;
}
.top-header>div:nth-child(2)>div>img:hover {
    cursor: pointer;
} 
/*flower*/
.flower {
    text-align: center;
}
.header-nav nav {
    position: relative;
    left: -18px;
}
.header-nav .nav ul {
    text-align: center;
}
.header-nav .nav ul li {
    list-style: none;
    display: inline-block;
}
.header-nav .nav ul li a {
    text-decoration: none;
    float: left;
    margin: 0 52px;
    color: #707070;
    font-size: 13px;
}
.flower:hover {
    cursor: pointer;
}
/*banner*/
.loop-wrap {
    position: relative;
    width: 1348px;
    height: 400px;
    margin: 18px auto;
    overflow: hidden;
}

.loop-images-container{
    position: absolute;
    left: 0; 
    top: 0;
    width: 500%; /* 横向排列 5张图片 宽度应为主容器5倍 */
    height: 100%;
    font-size: 0;
}

.loop-image{
    width: 1348px;
    height: 400px;
}
.loop-images-container{
    position: absolute;
    left: 0; top: 0;
    width: 500%;
    height: 100%;
    font-size: 0;
    transform: translate(0,0); /* 初始位置位移 */
    animation: loop 10s ease-out infinite;
}
@keyframes loop {
    0% {transform: translate(0,0);}
    15% {transform: translate(0,0);} /* 停留1500ms */

    20% {transform: translate(-20%,0);} /* 切换500ms 位移-20% */
    35% {transform: translate(-20%,0);}

    40% {transform: translate(-40%,0);}
    55% {transform: translate(-40%,0);}

    60% {transform: translate(-60%,0);}
    75% {transform: translate(-60%,0);}

    80% {transform: translate(-80%,0);}
    95% {transform: translate(-80%,0);}
    100% {transform: translate(-80%,0);}
}

/*section*/
section {
    background-color: #FFFFFF;
}
.container-1 {
    width: 1214px;
    height: 333px;
    /* border: 1px solid #DDDDDD; */
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
.container-1>img:first-child {
   border: 1px solid #DDDDDD;
   width: 590px;
   height: 333px;
   margin: 0 auto;
}
.container-1>img:nth-child(2) {
   border: 1px solid #DDDDDD;
   width: 590px;
   height: 333px;
} 
.New-product {
    margin: 70px 0;
}
.New-product>div:first-child {
    display: flex;
    flex-wrap: wrap;
    width: 1185px;
    margin: 0 auto;
    justify-content: space-between;
}
.New-product .new {
    color: #c74444;
    font-size: 20px;
}
.New-product .product {
    color: #BED1E9;
    font-size: 15px;
}
.New-product .more {
    border: 1px solid #B1A3C2;
    width: 93px;
    height: 30px;
    padding:6px 18px;
    color: #B1A3C2;
    font-size: 12px;
}
.New-product>div:nth-child(2) {
    border: 1px solid #E0E0E0;
    width: 1190px;
    margin: 10px auto;
}
.New-product>div:nth-child(3) {
    border: 1px solid #999999;
    width: 160px;
    position: relative;
    left: 78px;
    top: -13px;
}
.New-product .more:hover {
    /* color: white;
    background:#333333; */
    animation-name: run;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
}
@keyframes run {
    from {
        color: #B1A3C2;
    }
    to {
    color: white;
    background:#333333;
    }
}

.New-product>div:nth-child(4) {
    width: 1190px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.New-product>div:nth-child(4) div {
    border: 1px solid #E5E5E5;
    width: 280PX;
    height: 330PX;
    z-index: 10;
    position: relative;
    transition-property: all;
    transition-duration: 1s;
    transition-delay:0s;
    transition-timing-function: ease;
    /* animation: play 5s ease infinite; */
}
.New-product>div:nth-child(4) div:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 10px 10px  40px 2px #EDEDED;
    background-color: #FFFFFF;
}
.New-product>div:nth-child(4)>.flower-001::after {
    content: '图样1';
    color:#999999;
    position: absolute;
    display:block;
    z-index:9999;
    top:254px;
    left: 115px;
}
.New-product>div:nth-child(4)>.flower-001::before {
    content: '';
    color: #7F6666;
    position: absolute;
    display: block;
    top: 290px;
    left: 118px;
}
.New-product>div:nth-child(4)>.flower-004::after {
    content: '图样2';
    color:#999999;
    position: absolute;
    display:block;
    z-index:9999;
    top:254px;
    left: 115px;
}
.New-product>div:nth-child(4)>.flower-004::before {
    content: '';
    color: #7F6666;
    position: absolute;
    display: block;
    top: 290px;
    left: 118px;
}
.New-product>div:nth-child(4)>.flower-006::after {
    content: '图样3';
    color:#999999;
    position: absolute;
    display:block;
    z-index:9999;
    top:254px;
    left: 115px;
}
.New-product>div:nth-child(4)>.flower-006::before {
    content: '';
    color: #7F6666;
    position: absolute;
    display: block;
    top: 290px;
    left: 118px;
}
.New-product>div:nth-child(4)>.flower-008::after {
    content: '图样4';
    color:#999999;
    position: absolute;
    display:block;
    z-index:9999;
    top:254px;
    left: 115px;
}
.New-product>div:nth-child(4)>.flower-008::before {
    content: '';
    color: #7F6666;
    position: absolute;
    display: block;
    top: 290px;
    left: 118px;
}
.New-product-1>div:first-child {
    display: flex;
    flex-wrap: wrap;
    width: 1185px;
    margin: 85px auto;
    justify-content: space-between;
}
.New-product-1 .new {
    color: #c74444;
    font-size: 20px;
}
.New-product-1 .product {
    color: #BED1E9;
    font-size: 15px;
}
.New-product-1 .more {
    border: 1px solid #B1A3C2;
    width: 93px;
    height: 30px;
    padding:6px 18px;
    color: #B1A3C2;
    font-size: 12px;
}
.New-product-1 .more:hover {
    /* color: white;
    background:#333333; */
    animation-name: run;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
}
@keyframes run {
    from {
        color: #B1A3C2;
    }
    to {
    color: white;
    background:#333333;
    }
}
.New-product-1>div:nth-child(2) {
    border: 1px solid #E0E0E0;
    width: 1190px;
    margin: 0 auto;
    position: relative;
    top: -75px;
}
.New-product-1>div:nth-child(3) {
    border: 1px solid #999999;
    width: 160px;
    position: relative;
    left: 79px;
    top: -78px;
}
.New-product-1>div:nth-child(4) {
    width: 1190px;
    height: 445px;
    margin: -40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.New-product-1>div:nth-child(4)>div:first-child {
    border: 1px solid #F7F7F7;
    width: 590px;
    height: 445px;
}
.New-product-1>div:nth-child(4)>div:nth-child(2) {
    border: 1px solid #F7F7F7;
    width: 590px;
    height: 445px;
}
.New-product-1>div:nth-child(4)>div:first-child>img {
    position: relative;
    top: 72px;
}
.New-product-2>.flower-text {
    width: 1348px;
    height: 330px;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
}
.flower-text>div:nth-child(2) {
    width: 675px;
    height: 330px;
    background-color: #F7F7F7;
}
.flower-text>div:nth-child(2)>img {
    display: block;
    margin: 0 auto;
}
.flower-text>div:nth-child(2)>p {
    color: #808080;
    font-size:14px;
    width: 412px;
    height: 182px;
    display:block;
    margin: 20px auto;
    letter-spacing: 2px;
    line-height: 25px;
}
.New-product-3 {
    position: relative;
    top: 100px;
}
.New-product-3>div:first-child {
    display: flex;
    flex-wrap: wrap;
    width: 1185px;
    margin: 115px auto;
    justify-content: space-between;
}
.New-product-3 .new {
    color: #c74444;
    font-size: 20px;
}
.New-product-3 .product {
    color: #BED1E9;
    font-size: 15px;
}
.New-product-3 .more {
    border: 1px solid #B1A3C2;
    width: 93px;
    height: 30px;
    padding:6px 18px;
    color: #B1A3C2;
    font-size: 12px;
}
.New-product-3 .more:hover {
    /* color: white;
    background:#333333; */
    /* animation: run 2s linear infinite; */
    animation-name: run;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;

}
@keyframes run {
    from {
        color: #B1A3C2;
    }
    to {
    color: white;
    background:#333333;
    }
}
.New-product-3>div:nth-child(2) {
    border: 1px solid #E0E0E0;
    width: 1190px;
    margin: 0 auto;
    position: relative;
    top: -105px;
}
.New-product-3>div:nth-child(3) {
    border: 1px solid #999999;
    width: 220px;
    position: relative;
    left: 79px;
    top:-108px;
}
.New-product-4 {
    width: 1190px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.New-product-4>div:first-child {
    border: 1px solid #E5E5E5;
    width: 280PX;
    height: 330PX;
    z-index: 10;
    position: relative;
    transition-property: all;
    transition-duration: 1s;
    transition-delay:0s;
    transition-timing-function: ease;
    /* animation: play 5s ease infinite; */
}
.New-product-4>div:nth-child(2) {
    border: 1px solid #E5E5E5;
    width: 280PX;
    height: 330PX;
    z-index: 10;
    position: relative;
    transition-property: all;
    transition-duration: 1s;
    transition-delay:0s;
    transition-timing-function: ease;
    /* animation: play 5s ease infinite; */
}
.New-product-4>div:nth-child(3) {
    border: 1px solid #E5E5E5;
    width: 280PX;
    height: 330PX;
    z-index: 10;
    position: relative;
    transition-property: all;
    transition-duration:1s;
    transition-delay:0s;
    transition-timing-function: ease;
    /* animation: play 5s ease infinite; */
}
.New-product-4>div:nth-child(4) {
    border: 1px solid #E5E5E5;
    width: 280PX;
    height: 330PX;
    z-index: 10;
    position: relative;
    transition-property: all;
    transition-duration: 1s;
    transition-delay:0s;
    transition-timing-function: ease;
    /* animation: play 5s ease infinite; */
}
.New-product-4>div:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 10px 10px  40px 2px #EDEDED;
    background-color: #FFFFFF;
}
.New-product-4>.flower-01::after {
    content: '丝巾';
    color:#999999;
    position: absolute;
    display:block;
    z-index:9999;
    top:254px;
    left: 110px;
}
.New-product-4>.flower-01::before {
    content: '';
    color: #7F6666;
    position: absolute;
    display: block;
    top: 290px;
    left: 118px;
}
.New-product-4>.flower-04::after {
    content: '贴图';
    color:#999999;
    position: absolute;
    display:block;
    z-index:9999;
    top:254px;
    left: 110px;
}
.New-product-4>.flower-04::before {
    content: '';
    color: #7F6666;
    position: absolute;
    display: block;
    top: 290px;
    left: 118px;
}
.New-product-4>.flower-06::after {
    content: '实验';
    color:#999999;
    position: absolute;
    display:block;
    z-index:9999;
    top:254px;
    left: 110px;
}
.New-product-4>.flower-06::before {
    content: '';
    color: #7F6666;
    position: absolute;
    display: block;
    top: 290px;
    left: 118px;
}
.New-product-4>.flower-08::after {
    content: '个人IP';
    color:#999999;
    position: absolute;
    display:block;
    z-index:9999;
    top:254px;
    left: 110px;
}
.New-product-4>.flower-08::before {
    content: '';
    color: #7F6666;
    position: absolute;
    display: block;
    top: 290px;
    left: 118px;
}
.New-product-5 {
    width: 1185px;
    height: 442px;
    margin:  0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.New-5-1 {
    border: 1px solid #dddddd;
    width: 780px;
    height: 210px;
    display: flex;
    flex-wrap: wrap;
}
.New-5-2 {
    border: 1px solid #dddddd;
    width: 780px;
    height: 210px;
    position: relative;
    top: 18px;
    display: flex;
    flex-wrap: wrap;
}

.text-book>h1 {
    font-size: 16px;
    color: #333333;
}
.text-book>p {
    font-size: 13px;
    color: #777777;
    line-height: 22px;
    padding-top: 20px;
    width: 465px;
}
.text-book>span {
    color: #999999;
    font-size: 14px;
}
.New-5-1>div:first-child {
    margin: 5px;
}
.New-5-1>div:nth-child(2) {
    margin: 30px 0px 0px 15px;
}
.New-5-2>div:first-child {
    margin: 5px;
}
.New-5-2>div:nth-child(2) {
    margin: 30px 0px 0px 15px;
}
.New-product-6 {
    width:1185px;
    margin: 70px auto;
}
.New-product-6  img {
    display: block;
    width:1185px;
    height: 300px;
}
.New-product-6>div{
    display: flex;
    flex-wrap: wrap;

}
.New-product-6>div img {
    position: relative;
    top: -8px;
}
.New-product-6>div h2 {
    font-size: 16px;
    color: #494949;
}
.New-product-6>div span {
    font-size: 12px;
    color: #BABABA;
    position: relative;
    top: -18px;
}
/*footer*/
.footer {
    background-color: #f7f7f7;
}
.footer>div {
    margin:  0 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    right: -30px;
}
.footer>div>div {
    width: 270px;
    height: 14opx;
}
.footer>div h1 {
    font-family: times new roman;
    font-size: 18px;
    color: #000000;
    letter-spacing: 2px;
}
.footer>div p {
    font-size: 12px;
    color: #BBBBBB;
    width: 186px;
    height: 86px;
    line-height: 2em;
}
.footer .last-1 {
    background-image: url(../img/footer-4.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-position:4.5%;
    display: inline-block;
}
.footer .last-2 {
    background-image: url(../img/footer-4.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-position:2px;
    display: inline-block;
}
.footer .last-3 {
    background-image: url(../img/footer-4.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-position: 22.7%;
    display: inline-block;
}
.footer .last-4 {
    background-image: url(../img/footer-4.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-position: 18.3%;
    display: inline-block;
}
.footer .last-5 {
    background-image: url(../img/footer-4.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-position: 36.5%;
    display: inline-block;
}
.footer>div:nth-child(2) {
    border: 1px solid #E2E2E2;
    width: 1180px;
    margin: 0 auto;
}
.footer-last {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 60px;
}
.footer-last>div h1 {
    font-size: 18px;
    color: #696969;
    font-family: '微软雅黑';
    font-weight: lighter;
}
.footer-last>div  p {
    font-size: 12px;
    color: #BBBBBB;
    font-family: '微软雅黑';
} 
.footer-last>div  span {
    font-size: 12px;
    color: #BBBBBB;
    font-family: '微软雅黑';
} 
.search {
    position: relative;
    top: -20px;
}
.footer>div:nth-child(4)>div {
    border: 1px solid #E2E2E2;
    width: 1180px;
    font-weight: lighter;
}
.footer>div:nth-child(4)>span {
    font-size: 12px;
    color: #BBBBBB;
    font-family: '微软雅黑';
    display: block;
    position: relative;
    top: 20px;
}
/* 锚点 */
.box{
    position:fixed;
    right:10px;
    bottom: 10px;
    height:30px;
    width: 50px; 
    text-align:center;
    padding-top:20px; 
    background-color:rgb(27, 25, 25);
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    display: none;
}
.box:hover:before{
    top:50%
    }
    /* .box:hover .box-in{
    visibility: hidden;
    } */
    .box:before{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content:'';
    width: 40px;
    color:peru;
    font-weight:bold;
    } 
    .box-in{
    visibility: visible;
    display:inline-block;
    height:20px;
    width: 20px;
    border: 3px solid black;
    border-color: white;
    /* transform:rotate(45deg); */
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-property: all;
    position: relative;
    top: -7px;
    }
    .box-in:hover {
        transform:rotateZ(360deg);
    }